.main {
    margin-left: 220px;
    /* Same width as the sidebar + left position in px */
    font-size: 15px;
    /* Increased text to enable scrolling */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}