* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #004528;
}

.dash {
    width: 940px;
    height: 880px;
    background: white;
    /*margin: 50px auto;*/
    top: 20%;
    left: 15%;
    position: absolute;
    box-shadow: 8px 8px 50px #000;
}