*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #004528;
}
.post{

	width: 420px;
	height: 280px;
	background: white;
	/*margin: 50px auto;*/
	top: 30%;
	left:30%;
	position: absolute;
	box-shadow: 8px 8px 50px #000;
}



